<a href="https://colab.research.google.com/github/GlebKhorolenko/Automation-Scripts/blob/main/Masks_kz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 10.1 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [ ]:
import pandas as pd 
import os

In [ ]:
df = pd.read_excel('/content/Выбрасываешь ли ты одноразовую маску (1).xlsx')
df.tail(10)

,num,f1,f4_2,d1,A1,A2,A3,weight,w_n
394,390.0,Алматы,25-34,Жен,В основном тканевые маски,NaN,NaN,9324.560000,1.512265
395,392.0,Алматы,25-34,Жен,В основном тканевые маски,NaN,NaN,9324.560000,1.512265
396,393.0,Нур-Султан,35-44,Жен,В основном тканевые маски,NaN,NaN,6570.846154,1.065665
397,396.0,Нур-Султан,25-34,Жен,В основном тканевые маски,NaN,NaN,6241.526316,1.012256
398,397.0,Нур-Султан,18-24,Жен,В основном тканевые маски,NaN,NaN,2637.315789,0.427722
399,400.0,Нур-Султан,25-34,Муж,В основном тканевые маски,NaN,NaN,2569.634146,0.416745
400,401.0,Нур-Султан,25-34,Жен,В основном тканевые маски,NaN,NaN,6241.526316,1.012256
401,402.0,Нур-Султан,18-24,Жен,В основном тканевые маски,NaN,NaN,2637.315789,0.427722
402,403.0,Алматы,25-34,Жен,В основном тканевые маски,NaN,NaN,9324.560000,1.512265
403,404.0,Шымкент,25-34,Жен,Не ношу маски,NaN,NaN,5238.277778,0.849548

In [ ]:

def Cut(filter, subj = ''):

  if subj != '':
    filter_name = subj

  path = filter_name + '.xlsx'
  writer = pd.ExcelWriter(path, engine = 'xlsxwriter')

  
  for i in df[filter].unique():
    df_filtered = df[df[filter] == i]
    df_filtered.to_excel(writer, sheet_name = i, index = False)

  writer.close()

In [ ]:
# 1.	Показать какие маски носят респонденты в разрезе по городам, по полу, по возрасту отдельно.

Cut('f1', 'Города') #города
Cut('d1', 'Пол') #пол
Cut('f4_2', 'Возраст') #возраст

#выгружены в excel

In [ ]:
# 2.	Те, кто носят в основном одноразовые маски, какая доля из них выбрасывает маски сразу или носит повторно ранее использованные? 
print(df['A1'].unique())
print(df['A2'].unique())

['В основном одноразовые маски' 'В основном тканевые маски'
 'Не ношу маски']
['Нет, я ее сразу выбрасываю' 'Да' nan]

In [ ]:
df_odnoraz_maski = df[df['A1'] == 'В основном одноразовые маски']
df_odnoraz_maski.tail()
df_odnoraz_maski.shape[0] # кол-во респондентов кто носит в основном одноразовые маски

239

In [ ]:
df_net_srazu_vybrasyvau = df_odnoraz_maski[df_odnoraz_maski['A2'] == 'Нет, я ее сразу выбрасываю']
df_net_srazu_vybrasyvau.head(10)
df_net_srazu_vybrasyvau.shape[0] # кол-во респондентов кто сразу выбрасывает одноразовые маски

71

In [ ]:
df_da_noshu_povtorno = df_odnoraz_maski[df_odnoraz_maski['A2'] == 'Да']
df_da_noshu_povtorno.tail(10)
df_da_noshu_povtorno.shape[0]

168

In [ ]:
#что кол-во людей кто сразу выкидывает однораз маски + люди кто носит повторно однораз маски
# = количеству людей кто носит одноразовые маск в целом

print(df_da_noshu_povtorno.shape[0] + df_net_srazu_vybrasyvau.shape[0], '?=', df_odnoraz_maski.shape[0] )

239 ?= 239

In [ ]:
print(df_da_noshu_povtorno.shape[0] / df_odnoraz_maski.shape[0])
print(df_net_srazu_vybrasyvau.shape[0] / df_odnoraz_maski.shape[0])

0.702928870292887
0.29707112970711297

70% **респондентов** носят одноразовые маски больше одного раза, и соответственно только 30% выбрасывают их после первого использования

In [ ]:
# 3.	Сколько раз используют одноразовую маску в Алматы, женщины от 18-24 лет? 
df_almat_18_24_zhen_odnoraz = df[(df['f1'] == 'Алматы') & (df['f4_2'] == '18-24') & (df['d1'] == 'Жен') & (df['A1'] == 'В основном одноразовые маски')]

In [ ]:
df_almat_18_24_zhen_odnoraz.head(20)

,num,f1,f4_2,d1,A1,A2,A3,weight,w_n
44,206.0,Алматы,18-24,Жен,В основном одноразовые маски,"Нет, я ее сразу выбрасываю",NaN,5209.352941,0.844857
46,209.0,Алматы,18-24,Жен,В основном одноразовые маски,"Нет, я ее сразу выбрасываю",NaN,5209.352941,0.844857
77,10.0,Алматы,18-24,Жен,В основном одноразовые маски,Да,5-10 раз,5209.352941,0.844857
79,13.0,Алматы,18-24,Жен,В основном одноразовые маски,Да,Менее 5 раз,5209.352941,0.844857
133,141.0,Алматы,18-24,Жен,В основном одноразовые маски,Да,Более 10 раз,5209.352941,0.844857
142,162.0,Алматы,18-24,Жен,В основном одноразовые маски,Да,Менее 5 раз,5209.352941,0.844857
168,233.0,Алматы,18-24,Жен,В основном одноразовые маски,Да,Более 10 раз,5209.352941,0.844857
226,372.0,Алматы,18-24,Жен,В основном одноразовые маски,Да,Более 10 раз,5209.352941,0.844857

In [ ]:
# Создание словарря с ключами по уникальным значениям из A3 и значениями =0
# ключ по nan переделали в 'Ноль'
A3_dict = {}
for i in df_almat_18_24_zhen_odnoraz['A3'].unique():
  if pd.isna(i):
    A3_dict['Ноль'] = 0
  else:
    A3_dict[i] = 0

print(A3_dict)

{'Ноль': 0, '5-10 раз': 0, 'Менее 5 раз': 0, 'Более 10 раз': 0}

In [ ]:
for i in df_almat_18_24_zhen_odnoraz['A3']:
  print(i)

nan
nan
5-10 раз
Менее 5 раз
Более 10 раз
Менее 5 раз
Более 10 раз
Более 10 раз

In [ ]:
for i in df_almat_18_24_zhen_odnoraz['A3']:
  if pd.isna(i):
    A3_dict['Ноль'] += 1
  else:
    A3_dict[i] += 1

In [ ]:
for i in A3_dict:
  print(i, ':', A3_dict[i])

Ноль : 2
5-10 раз : 1
Менее 5 раз : 2
Более 10 раз : 3

8

In [ ]:
for i in A3_dict:
  print(i, ':', (A3_dict[i] / df_almat_18_24_zhen_odnoraz.shape[0] * 100),  '%')

Ноль : 25.0 %
5-10 раз : 12.5 %
Менее 5 раз : 25.0 %
Более 10 раз : 37.5 %